.sas {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; }
  .sas .tituloUbi {
    color: black background-color #00890e text-decoration-line underline;
    margin: 1rem;
    padding: 2rem; }
  .sas .ubi2 {
    text-align: center;
    background-color: chocolate; }
