
@import "utilities/variables";

.sas{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    
    .tituloUbi{
        color: black
        background-color $color-principal
        text-decoration-line underline;
        margin: 1rem;
        padding: 2rem;
    }
    .ubi2{
        text-align: center;
        background-color: chocolate;
    }
}